.popup__jobinput {
  min-width: 358px;
  margin: auto;
  border: none;
  border-bottom: 1px solid #0000002f;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 36px;
}

@media screen and (max-width: 544px) {
  .popup__jobinput {
    min-width: 238px;
  }
}
