.popup__close {
  text-decoration: none;
  min-width: 32px;
  min-height: 32px;
  color: #fff;
  margin: 0;
  font-size: 63px;
  position: absolute;
  top: -65px;
  right: -45px;
}
.popup__close:hover {
  opacity: 0.6;
}
@media screen and (max-width: 544px) {
  .popup__close {
    font-size: 43px;
    min-width: 238px;
    top: -45px;
    right: -210px;
  }
}
